[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MHD"]
	path = MHD
	url = https://github.com/cran/MHD
[submodule "manifold"]
	path = manifold
	url = https://github.com/cran/manifold
